/* styles/Home.module.css */

.stylishLink {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.stylishLink::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: #ffc107;
  transition: width 0.3s ease;
}

.stylishLink:hover::after {
  width: 100%;
}

.stylishIcon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.stylishIcon:hover {
  transform: scale(1.2);
}

.stylishButton {
  transition: all 0.3s ease;
}

.stylishButton:hover {
  background-color: #ffcd39 !important;
  color: black !important;
  transform: scale(1.05);
}

.sample-section {
  background-color: #0066e5; /* Strong blue */
  color: white;
}

.input-field {
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.input-field::placeholder {
  color: #fff;
}

.contact-btn {
  background-color: white; /* Gold */
  color: white;
  border: none;
  font-weight: 600;
  
}



